@args(io.oreto.burger.Burger burger
, String id
, Integer index
, Integer total
, Integer year
, java.util.List<io.oreto.burger.Taster> tasters
, String path
, io.oreto.burger.App.Application app)

@css => {
    <link rel="stylesheet" href="/asset/css/burgers">
}

@js => {
    <script type="application/javascript">
        var index = @index;
        var total = @total;
        var year = @year;
        var path = '@path';
    </script>

    <script type="application/javascript" src="/asset/js/burgers"></script>
}

@views.main.template(id, app, js, css) -> {
<div class="burger d-flex">
    @if (id == "landing") {
        <div class="card center flex-grow-1 flex-lg-grow-0">
            <div class="card-body">
                <h1 class="card-title text-center">The definitive @year Nashville, TN <br>burger countdown</h1>
                <p class="card-text">
                    We personally tried several of Nashville's most recommended burgers and ranked them according to a well thought out scoring system.
                    <br><br>
                    Burgers were ranked on the following criteria:
                    <ul>
                        <li>
                            <u>Taste (0-10):</u> The overall taste and finish of the burger.
                        </li><br>
                        <li>
                            <u>Quality (0-5):</u> The quality, freshness of the ingredients, and the craftsmanship of the burger.
                        </li><br>
                        <li>
                            <u>Temperature (0-3):</u> The temperature of the meat, how well the natural juices and flavor of the meat is announced.
                        </li><br>
                        <li>
                            <u>Presentation (0-2):</u> Not just how well the burger looks plated,
                            but how original the sandwich is and how easy it is to handle and savor throughout the meal.
                        </li>
                    </ul>
                    <i>20 is the highest possible total and they are scored in .5 point increments</i>
                </p>
            </div>
        </div>
    } else if (id == "credits") {
        <div class="row center flex-grow-1">
            <div class="card col-12 flex-grow-1 border-secondary mb-3">
                <div class="card-body text-center">
                    <h1 class="card-title text-center">The Tasters</h1>
                    <p class="card-text">A little about the authors and taste judges</p>
                </div>
            </div>
            <div class="card-deck center w-100">
                @for (taster : tasters) {
                    <div class="card flex-grow-1">
                        <div class="card-header">
                            <h1>
                                @taster.getName()
                                <img src="/assets/image/@(taster.getShortName())-sm.jpg"
                                                       alt="/assets/image/@(taster.getShortName())-sm.jpg"
                                                       class="float-center">
                            </h1>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title">@taster.getNationality()</h1>
                            <p class="card-text">@taster.getOccupation()</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    } else {
        <div class="card center flex-grow-1 flex-lg-grow-0">
            <div class="card-body">
                <h1 class="card-title text-center"><strong class="rank-tag">#@index</strong> @?burger.getRestaurant()</h1>
                <h2 class="card-title text-center"><u>@?burger.getPlate()</u></h2>
                <h2><u>Score: @?burger.getTotal()</u></h2>
                <ul class="card-title">
                    <li>Taste: @?burger.getTaste()</li>
                    <li>Quality: @?burger.getQuality()</li>
                    <li>Temperature: @?burger.getTemperature()</li>
                    <li>Presentation: @?burger.getPresentation()</li>
                    <li>Price: @?burger.getPrice()</li>
                </ul>
                <p class="card-text">
                    @?burger.getNotes()
                </p>
                <img src="/assets/css/burgers/@year/@(id)-sm.jpg"
                     class="d-lg-none d-xl-none"
                     alt="/assets/css/burgers/@year/@(id)-sm.jpg">
            </div>
        </div>
    }
</div>
}