@args (String id, io.oreto.burger.App.Application app, io.oreto.burger.Server server, RockerContent js, RockerContent css, RockerBody body)
<html lang="en">
<head>
    <title>Burgers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @css
</head>
<body>
    <div class="container-fluid">
        <div class="burger-container @id">
            @body
<!--            @if (id == "landing") {-->
<!--            <div class="center text-center scroll-btn">-->
<!--                <i class="fas fa-arrow-circle-down fa-3x"></i>-->
<!--            </div>-->
<!--            }-->
        </div>
    </div>
</body>
@if (!server.getJs().isEmpty()) {
    @raw(server.getJs())
}
@js
</html>